:root{
  --red: #f77274;
  --dark-red: #d26769;
  --dark-gray: #5b5855;
  --light-gray: #f4f2f0;
}
.App {
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-gray);
  margin-bottom: 10px;
}
.App--modal-open{
  margin-bottom: 0;
  height: 100vh;
  overflow: hidden
}
.header {
  height: 61px;
  padding: 17px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--light-gray);
  color: white;
  margin-bottom: 30px;
}
.logo{
  max-height: 100%;
  display: block;
  margin: 0 auto;
}
.product-image{
  max-height: 134px;
  max-width: 125px;
  border-radius: 3px;
  display: block;
  margin: 0 auto 39px;
}

.checkout{
  font-size: 14px;
  margin: 0 20px;
}
.checkout__title{
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 31.5px;
  color: var(--dark-gray);
}
.coupon__item{
  margin-bottom: 26px;
}
.coupon__item:last-child{
  margin-bottom: 37px;
}
.radio {
  position: absolute;
  visibility: hidden
}
.coupon__title{
  padding-left: 15px;
}
.coupon__label{
  display: flex;
  align-items: baseline;
}
.coupon__discount{
  color: var(--red);
  margin-left: auto
}
.coupon__label::before {
  display: inline-block;
  content: "";
  height: 17px;
  width: 17px;
  top: 3px;
  position: relative;
  border: 2px solid var(--light-gray);
  border-radius: 50%;
}
.radio:checked + .coupon__label::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  height: 13px;
  width: 13px;
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px var(--light-gray);
  border-radius: 50%;
  background: var(--red);
}
.summary__item{
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 35px;
}

.buttons{
  display: flex
}
.buttons .button:last-child{
  margin-left: 15px;
}
.button{
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  min-height: 48px;
  min-width: 127px;
  font-size: 14px;
}
.button--cancel{
  background: #fff;
  color: var(--red);
  border: 2px solid var(--light-gray);
  border-top: none;
  border-bottom-width: 4px;
  flex: 1;
}
.button--confirm{
  background: var(--red);
  color: #fff;
  border: 1px solid var(--dark-red);
  border-top: none;
  border-bottom-width: 4px;
  flex: 1;
}

.modal{
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.7);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.modal__content{
  min-width: 295px;
  max-width: 50vw;
  margin: 280px auto 0;
  background-color: #fff;
  border-radius: 3px;
  padding: 25px 35px;
  text-align: center;
  box-sizing: border-box;
}
.modal__image{
  display: block;
  margin: 0 auto;
}
.modal__title{
  margin: 30px 0 20px;
}
.modal__description{
  margin: 0;
}
/*utilities*/
.red{
  color: var(--red);
}
.bold{
  font-weight: 800;
}